// responsive breakpoints
@mixin responsive-to($breakpoint) {
  //0480
  @if $breakpoint == "small" {
    @media only screen and (min-width : 320px) and (max-width : 660px) {
        @content;
    }
  }
  //0780
  @else if $breakpoint == "medium" {
    @media only screen and (min-width : 661px) and (max-width : 860px) {
        @content;
    }
  }
  //1024
  @else if $breakpoint == "large" {
    @media only screen and (min-width : 861px) and (max-width : 1119px) {
      @content;
    }
  }
  //1280
  @else if $breakpoint == "bigscreen" {
    @media only screen and (min-width : 1120px) {
      @content;
    }
  }
}

// image replacement
@mixin image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

// clearfix hack
@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

// convert px to em
@function em($px, $base: 13px) {
  @return ($px / $base) * 1em;
}
