$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 13px;


// colors
$white: #fff;
$blue: #D7EAF9;
$blue-soft: #FCFDFF;
$blue-soft-2: #EAF4FD;
$black: #000;
$grey: #eee;

// widget config
$widget-width: 987px;
$widget-border-radius: 8px;
$widget-border: 1px solid #D6E5F2;
$widget-box-shadow: 3px 0px 2px $grey;
$widget-header-height: 38px;
$widget-header-color: #0066A2;
$widget-header-font-size: 18px;

$product-describe-color: #333;
$product-price-color: #CC0000;
