@import 'normalize';
@import 'vars';
@import 'mixins';

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, address, blockquote, cite, ul, ol, dl, section, article, figure, fieldset, label, input, textarea, p {
  margin: 0;
  padding: 0;
}
body {
  font: $base-font-size $base-font-family;
  margin: 10px;
}
address {
  font-style: normal;
}
img {
  max-width: 100%;
}
a {
  outline: none;
  text-decoration: none;
}
.widget {
  background: url('/assets/images/widget-bg-header.jpg') repeat-x top;
  border-radius: $widget-border-radius;
  border: $widget-border;
  box-shadow: $widget-box-shadow;
  display: flex;
  overflow: hidden;
  padding-bottom: 30px;
  position: relative;
  width: $widget-width;
  .widget-header {
    color: $widget-header-color;
    font-family: $base-font-family;
    font-weight: bold;
    height: $widget-header-height;
    line-height: $widget-header-height;
  }
  .widget-header-title {
    font-size: $widget-header-font-size;
  }
  &:after {
    background: linear-gradient($white, $blue-soft-2);
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}
.products-view {
  &.viewed {
    width: 190px;
  }
  .products-list {
    list-style: none;
    margin-top: 8px;
    overflow: hidden;
    padding: 5px;
  }
  .product-loading {
    background: url('/assets/images/loader.gif') no-repeat 0 0;
    display: block;
    height: 24px;
    margin: 0 auto;
    width: 24px;
  }
  .product-list-item {
    //display: inline-block;
    float: left;
    padding: 5px;
    transition: background 0.8s ease-in-out;
    vertical-align: top;
    width: 170px;
    zoom: 1;
    *display: inline; // hack to ie
    &:hover {
      background: linear-gradient($blue, $blue-soft);
      .product-thumbnail {
        background: $white;
        border: 2px solid #BDD0E0;
      }
    }
  }
  .product-thumbnail {
    border: 2px solid #fff;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .product-describe, .product-prices {
    font-size: em(11px);
  }
  .product-describe, .product-old-price {
    color: $product-describe-color;
  }
  .product-describe {
    margin-bottom: 5px;
  }
  .product-prices {
    color: $product-price-color;
  }
  .product-old-price, .product-price-total, .product-price-parcelas {
    display: block;
  }
  .product-price-total strong {
    font-size: em(20px);
  }
}
// viewed
.viewed {
  .widget-header {
    padding-left: 9px;
  }
  .products-list {
    overflow: hidden;
    position: relative;
    &:after {
      border-right: 1px solid $grey;
      content: '';
      height: 256px;
      margin-top: 1px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
    }
  }
}
// more products
.see-more {
  width: 100%;
  .widget-header {
    padding-left: 25px;
  }
}

// carousel
.carousel {
  position: relative;
  width: 100%;
  z-index: 10;
  .controls {
    @include image-replacement;
    background: url('/assets/images/carousel-controls.png') no-repeat;
    display: block;
    height: 34px;
    margin-top: 60px;
    position: absolute;
    top: 0;
    width: 17px;
    z-index: 10;
  }
  .control-prev {
    background-position: 0 0;
    left: 0;
    margin-left: 8px;
    &:hover {
      background-position: 0 -34px;
    }
  }
  .control-next {
    background-position: -17px 0;
    margin-right: 13px;
    right: 0;
    &:hover {
      background-position: -17px -34px;
    }
  }
  .carousel-wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 720px;
  }
  ul {
    margin: 0;
    transition: margin-left 0.5s linear;
  }
  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
